* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 68, 68);
    box-sizing: border-box;
}

.maindiv {
    align-items: center;
    text-align: center;
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
}

.inputDiv {
    margin-top: 35px;
    display: flex;

    justify-content: space-between;
}

.inputItem {
    width: 350px;
    height: 45px;
    font-size: 20px;
    border-style: none;
    border-bottom: black solid 4px;
}

.inputItem:focus {
    /*o outline tira as bordas quando vc clica no item*/
    outline: none;
    border-style: none;
    border-bottom: red solid 4px;
}

.addButton {
    font-weight: bold;
    color: white;
    width: 80px;
    height: 45px;
    font-size: 20px;
    border-style: none;
    background-color: red;
}

.listItem {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    background-color: rgb(241, 172, 172);
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


.listItemWhite {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.listItemWhite:hover, .listItem:hover {
    background-color: rgb(236, 102, 102);
}


.mainList {
    margin-top: 30px;
}

.paragraphText {
    padding: 19px;
}

.deleteButton {
    padding: 20px;
    box-sizing: border-box;
    width: 100px;
    height: 70px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: rgb(224, 61, 61);
}